h1 {
    margin: 20px;
}

#search-movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 15em;
    background-image: url("/img/searchbackground.jpg");
}

#search-movie-container h2 {
    padding: 1em;
}

#movie-query {
    height: 3em;
    width: 100%;
    margin-bottom: 1em;
}

#add-movie-form .add-btn {
    height: 3em;
    width: 50%;
    padding: 10px;
    background: #290E01;
    color: white;
    font-size: 14px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

#add-movie-form .add-btn:hover {
    background: #BE4900;
}

#icon-pills {
    display: flex;
    font-size: 20px;
}

#icon-pills i {
    padding: 0.5em;
}