h1 {
	margin: 20px;
}

#search-movie-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 5em;
	background-image: url("/img/searchbackground.jpg");
	margin-bottom: 1rem;
}

#search-movie-container h2 {
	padding: 1em;
	text-shadow: #1B0C01 3px 3px 3px;
}

#movie-query {
	height: 2.5rem;
	width: 100%;
	/*margin-bottom: 1em;*/
}

#search-movie-container form {
	display: flex;
	flex-direction: row;
	width: 25%;
}

#add-movie-form .add-btn {
	height: 2.5rem;
	width: 50%;
	background: #290E01;
	color: white;
	font-size: 14px;
	border: 1px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
}

#add-movie-form .add-btn:hover {
	background: #BE4900;
}

#icon-pills {
	display: flex;
	font-size: 20px;
}

#icon-pills i {
	padding: 0.5em;
}

